body
	background: #FFF
	color: #fff
	// +css-lock(16, 50, 600, 1000)
	// line-height: 1.4
.container
	max-width: 768px
	width: 100%
	margin: 0 auto
	display: flex
.contact-heading
	font-weight: 600
	margin-bottom: 7px
	&_footer
		margin-bottom: 16px
.text
	font-weight: 600

.contact-info>*
	margin-bottom: 35px
.contact-tel_footer
	margin-bottom: 14px
.communications_footer
	margin-top: 14px
	line-height: 1.3
.address_footer
	line-height: 1.3
.info-corporate_footer
	position: relative
	&:before
		position: absolute
		left: calc(100% + 27px)
		content: '';
		height: 100%
		width: 1px
		background: #929499
// .icon-logo
// 	fill: #000