.baner
	display: flex
	align-items: center
	min-height: 227px
	padding-top: 231px
	padding-bottom: 154px
	background-size: cover
	background-repeat: no-repeat
	background-position: 0 0
	box-shadow: 1px 10px 8px rgba(0, 0, 0, 0.07)
	+r(800)
		padding-top: 50px
	&__img
		max-width: 100%
		
		+r(800)
			padding-top: 325px
		+r(320)
			max-width: 20%
	&__heading
		color: $color-main
		font-size: 41px
		margin-left: 3px
		+r(800)
			text-align: center
		+r(320)
			font-size: 30px
.lang-switcher
	font-size: 12px
	color: #fff
	display: flex
	justify-content: flex-end
	margin-bottom: 12px
	&__item
		margin-left: 12px
		position: relative
		top: 7px
		&:not(:last-child):before
			content: "/"
			position: absolute
			left: calc(100% + 3.5px)
.select-wrapper
	margin-top: 8px
.user-contact-us
	margin-bottom: 83px
	&__more
		font-size: 15.5px
		color: #001029
		padding-top: 47px
.contact-info
	width: 200px
	+r(550)
		display: flex
		width: 100%
		flex-wrap: wrap
		justify-content: center
	&>*
		margin-bottom: 36px
		line-height: 1.2
		& a:hover
			color: $color-main
		+r(550)
			flex: 1 1 33%
	&>:nth-child(odd)
		+r(550)
			margin-right: 5%
	&__sales
		margin-bottom: 38px

.copyright
	background: #001029
	display: flex
	justify-content: center
	padding-bottom: 22px
	font-size: 11px
	line-height: 1.1
	color: #fff
