--- title: Index page --- {% extends "layouts/_layout.html" %} {% block content %}
<!-- --------BEGIN header---------- -->
<header class="header-main">
  <div class="logo logo_main">
    <a href="#">
      <img src="img/logo.png" alt="Motto-Logo" class="logo-main__img"> </a>
  </div>
  <div class="nav-wrapper">
    <ul class="lang-switcher">
      <li class="lang-switcher__item">
        <a class="lang-switcher__link" href="#">en</a>
      </li>
      <li class="lang-switcher__item">
        <a class="lang-switcher__link" href="#"> ru</a>
      </li>
    </ul>
    <nav class="nav-main">
      <li>
        <a href="#" class="nav-main__nav-link">home</a>
      </li>
      <li>
        <a href="#" class="nav-main__nav-link">flux</a>
      </li>
      <li>
        <a href="#" class="nav-main__nav-link">flux for...</a>
      </li>
      <li>
        <a href="#" class="nav-main__nav-link">news</a>
      </li>
      <li>
        <a href="#" class="nav-main__nav-link">events</a>
      </li>
      <li>
        <a href="#" class="nav-main__nav-link">about motto</a>
      </li>
      <li>
        <a href="#" class="nav-main__nav-link">contact</a>
      </li>
      <button class="btn btn_primary">try flux today</button>
    </nav>
  </div>
</header>
<!-- --------END header---------- -->
<!-- --------BEGIN baner---------- -->
<div class="baner" style="background-image: url(img/ba.jpg);">
  <div class="container">
    <h1 class="baner__heading">Start your
      <img src="../img/flux.png" alt="Flux"> journey today</h1>
  </div>
</div>
<!-- --------END baner---------- -->
<!-- --------BEGIN user-contact-us---------- -->
<section class="user-contact-us">
  <div class="container">
    <form action="" method="POST" class="user-form">
      <div class="user-form__description">
        <h2 class="contact-heading">Contact us</h2>
        <p>Are you interested in FLUX and ready to experience the magic? </p>
        <p>Get in touch using the form below and we’ll get back to you within 24 hours.</p>
      </div>
<!-- --------BEGIN user-form__area---------- -->
      <div class="user-form__area">
        <label for="username">Your name:</label>
        <input type="text" name="username" id="username">
        <label for="companyname">Company name:</label>
        <input type="text" name="companyname" id="companyname">
        <label for="form-email">Your business email address:</label>
        <input type="text" name="form-email" id="form-email">
        <label for="form-tel">Phone number(optional):</label>
        <input type="text" name="form-tel" id="form-tel">
        <label for="interested">I'm interested in bwcoming a...:</label>
        <select name="select-interested" multiple size="1" class="select-interested">
          <option value="HTML">HTML</option>
          <option value="CSS">CSS</option>
          <option value="JS">JS</option>
          <option value="INVIDER">INVIDER</option>
        </select>
        <button type="submit" class="btn btn_submit">
          SEND
        </button>
      </div>
<!-- --------END user-form__area---------- -->
    </form>
    <div class="user-contact-us__more">
      <div class="contact-info">
        <div class="info-sales">
          <p class="contact-description">
            Get in touch using the form
            <br> or the information below:
          </p>
          <span class="contact-mail text">
            <a href="mailto:sales@motto.nl">sales@motto.nl</a>
          </span>
          <span class="contact-tel text">
            <a href="tel:+31 (0)20 2170707">+31 (0)20 2170707</a>
          </span>
        </div>
        <div class="info-general">
          <h3 class="contact-heading">General</h3>
          <address>
            Hogehilweg 15
            <br> 1101 CB Amsterdam
            <span class="contact-mail">
              <a href="mailto:sales@motto.nl">sales@motto.nl</a>
            </span>
            <span class="contact-tel">
              <a href="tel:+31 (0)20 2170707">+31 (0)20 2170707</a>
            </span>
          </address>
        </div>
        <div class="info-support">
          <h3 class="contact-heading">Customer support</h3>
          <span class="contact-mail">
            <a href="mailto:sales@motto.nl">sales@motto.nl</a>
          </span>
          <span class="contact-tel">
            <a href="tel:+31 (0)45 4040490">+31 (0)45 4040490</a>
          </span>
        </div>
        <div class="info-corporate">
          <h3 class="contact-heading">Corporate</h3>
          <address class="address">
            Beersdalweg 104
            <br> 6412 PE Heerlen
          </address>
          <address class="communications">
            <span class="contact-mail">
              <a href="mailto:sales@motto.nl">sales@motto.nl</a>
            </span>
            <span class="contact-tel">
              <a href="tel:+31 (0)45 4040490">+31 (0)45 4040490</a>
            </span>
          </address>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- --------END user-contact-us---------- -->
<!-- --------BEGIN footer---------- -->
<footer class="footer">
  <div class="container">
    <div class="footer__wrap">
      <div class="footer__col">
        <div class="info-support">
          <h3 class="contact-heading contact-heading_footer">Customer support</h3>
          <address class="communications communications_footer">
            <span class="contact-mail contact-mail_footer">
              <a href="mailto:support@motto.nl">support@motto.nl</a>
            </span>
            <span class="contact-tel contact-tel_footer">
              <a href="tel:+31 (0)20 2170707">+31 (0)45 404 0490</a>
            </span>
          </address>
        </div>
      </div>
      <div class="footer__col">
        <div class="info-sales">
          <h3 class="contact-heading contact-heading_footer">Sales</h3>
          <address class="address address_footer">
            Hogehilweg 15
            <br> 1101 CB Amsterdam
          </address>
          <address class="communications communications_footer">
            <span class="contact-mail contact-mail_footer">
              <a href="mailto:sales@motto.nl">sales@motto.nl</a>
            </span>
            <span class="contact-tel contact-tel_footer">
              <a href="tel:+31 (0)20 2170707">+31 (0)20 2170707</a>
            </span>
          </address>
        </div>
      </div>
      <div class="footer__col">
        <div class="info-corporate info-corporate_footer">
          <h3 class="contact-heading contact-heading_footer">Corporate</h3>
          <address class="address address_footer">
            Beersdalweg 104
            <br> 6412 PE Heerlen
          </address>
          <address class="communications communications_footer">
            <span class="contact-mail">
              <a href="mailto:sales@motto.nl">sales@motto.nl</a>
            </span>
            <span class="contact-tel contact-tel_footer">
              <a href="tel:+31 (0)45 4040490">+31 (0)45 4040490</a>
            </span>
          </address>
        </div>
      </div>
      <div class="footer__col">
        <div class="logo logo_footer">
          <a href="#" alt="motto-logo">
            {{mixins.icon('logo')}} </a>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- --------END footer---------- -->
<!-- --------BEGIN copyright---------- -->
<div class="copyright">

  <h4>© 2017 Motto Communications</h4>


</div>
<!-- --------END copyright---------- -->
{% endblock %}
