.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-if_lock {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-logo {
  width: 5.55em;
  height: 1em;
  fill: initial;
}
.icon-menu-arrow {
  width: 1.33em;
  height: .7em;
  fill: #FFF;
}
